<div class="flex flex-col border-4 items-center justify-center min-h-[50lvh] min-w-[50lvh] bg-cyan-100">
  <h1 class="mb-4 text-3xl">
    Super Tic Tac Toe!
  </h1>
  <button type="button" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2
    min-w-[30lvh]
    min-h-[10lvh]
    " [routerLink]="'/game'">
    <h1 class="text-2xl">
      Start!
    </h1>
  </button>
  <button type="button" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2
    min-w-[30lvh]
    min-h-[10lvh]
    " [routerLink]="'/help'">
    <h1 class="text-2xl">
      Help
    </h1>
  </button>
</div>
